@tailwind base;
@layer base {
  .prose h1 {
    @apply text-4xl font-bold tracking-tight text-gray-900;
  }
  .prose h2 {
    @apply text-3xl font-semibold mt-6 mb-4 text-gray-800;
  }
  .prose h3 {
    @apply text-2xl font-medium mt-4 mb-2 text-gray-700;
  }
  .prose blockquote {
    @apply border-l-4 border-indigo-500 pl-4 italic text-gray-700 bg-indigo-50 rounded-md my-4;
  }
}
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@layer utilities {
  .arab {
    font-family: 'Amiri', serif;
    direction: rtl;       /* not text-direction */
    text-align: right;    /* optional */
  }
}