<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="mnafisalmukhdi1">
	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{page.title}} | {{site.title}}">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://image.thum.io/get/maxAge/12/width/700/https://blog.nafis1.my.id">
	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="blog.nafis1.my.id">
	<meta property="twitter:url" content="{{site.url}}">
	<meta name="twitter:title" content="{{page.title}} | {{site.title}}">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="https://image.thum.io/get/maxAge/12/width/700/https://blog.nafis1.my.id">
	<title>{{page.title}} | {{site.title}}</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all">
	<link rel="shortcut icon" href="https://nafis1.my.id/favicon.ico" type="image/x-icon">
	<link rel="icon" href="https://nafis1.my.id/favicon.ico" type="image/x-icon">
	<link rel="canonical" href="https://blog.nafis1.my.id">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
</head>
